:root {
    --color_1: rgb(11, 116, 196);
    --color_2: rgb(230,0,0);
    --color_3: rgb(255,166,77);
    --color_4: rgb(149,0,179);
    --color_5: rgb(0,204,0);
    --color_6: rgb(255,255,0);

}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, #09203f 10%, #537895 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.inactive{
    display: none;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
    background-color: black;
    margin: 1em;
}

.mini_grid{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    background-color: black;
}

.grid div{
    height: 20px;
    width: 20px;
    border: 1px solid blue;
    color: white;
}

.mini_grid div{
    height: 20px;
    width: 20px;
    border: 1px solid blue;
}

.grid .bedrock {
    height: 20px;
    width: 20px;
    border: none;
}

.grid .game_piece{
    background-color: var(--color_1);
    border: 1px solid white;
    border-radius: 20%;
}



.mini_grid .game_piece {
    background-color: var(--color_1);
    border: 1px solid white;
    border-radius: 20%;
}

/*----- GAMEBOX ----- */

#gamebox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 80%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.highscore{
    width: 300px;
    height: 100%;
    color: white;
    text-align: center;
}

.highscore div{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    height: 80%;
}

.highscore ol{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0;
}

.highscore ul{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding:0;
    
}


.congrats_box{
    width: 300px;
    height: 100%;
}



.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start_button {
    width: 40%;
    border-radius: 25px;
    color: white;
    background-color: #537895;
}

#endscore{
    color: azure;
    text-align: center;
}

.blue{
    background-color: var(--color_1);
}

.red{
    background-color: var(--color_2);
}

.orange{
    background-color: var(--color_3);
}

.purple{
    background-color: var(--color_4);
}

.green{
    background-color: var(--color_5);
}

.yellow{
    background-color: var(--color_6);
}


/* 'Enter your name'-modal */

.overlay{
    width: 100vw;
    height:100vh;
    position: absolute;
    z-index: 5;
    opacity: 0.6;
    background-color: darkblue;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    max-width: 80%;
    height: 300px;
    background-color: #509fdc;
    position: fixed;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 15px #509fdc;
    opacity: 0.92;
}

.modal.inactive{
    display: none;
}

.modalTitle{
    border-bottom: solid 1px black;
    width: 50%;
    text-align: center;
}

.modalBody{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

